h1 {
    margin-top: 10rem;
}

.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    height: 20rem;
    margin-inline: auto;
    gap: 1rem;
}

.categories-info {
    font-size: 1.2rem;
}

.category {
    margin-block: auto;
    border: 1px solid white;
    padding: 2rem 1rem;
    cursor: pointer;
    color: white;
}