.question-title {
  font-size: 1.6rem;
}

.question {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  padding-inline: 0.2rem;
}

.question-answers {
  margin-bottom: 1rem;
  max-width: 25rem;
}

.question-answers button {
  min-width: 20rem;
  max-width: 20rem;
  background-color: #e3e3e3;
}

.error-text {
  font-size: 2.5rem;
  margin-top: 5rem;
}

.error button {
  background-color: #e3e3e3;
}
